
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* basic component */
.button-primary{
  /* width: 150px;
  height: 64px; */
  border-radius: 5px;
  background: #FD6E0A;
  color:  #FFF;
  font-size: 20px;
  padding: 20px 35px;
}




/* nav realated style */
.nav-mary{
  color:  #181818;
  font-size: 45px;
}
.nav-span{
  color: #FD6E0A;
}
nav li{
  color: #474747;
  font-size: 20px;
  text-decoration: none;

}
.nav-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 225px;
}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  
}
.header-anchor{
  text-decoration: none;
}




/* header related style */
.header-contant{
  background: #FFF8F3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position:bottom right;
}
.header-main-contant{
  gap: 20px;
  max-width: 585px;
}
.header-intro{
  color: #474747;
  font-size: 45px;
}
.header-name{
  color: #181818;
  font-size: 85px;
  font-weight:700;
}
.header-paragraph{
  color: #757575;
  font-size: 18px;
  font-weight: 400;
}
.header-main{
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 0px 230px;
}



/* Main section related style */
main{
  max-width: 1140px;
  margin: 0 auto;
}
.about{
  border-radius: 10px;
  background: #FFF8F3;
  margin: 150px 0px;
  padding: 130px 150px;
  text-align: center;
}
.about-description{
  display: flex;
  justify-content: space-around;
}
.about-title{
  color: #181818;
font-size: 35px;
font-weight: 700;
}
.about-pragraph{
  color: #757575;
font-size: 18px;
font-weight: 400;
}
.d-header{
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}
.d-p{
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}




/* skill related style */
.skill-section{
  background: #FFF;
  text-align: center;
  gap: 30px;

}
.skill-header{
  color:  #181818;
font-size: 35px;
font-weight: 700;
}
.skill-pragraph{
  color:  #757575;
font-size: 18px;
font-weight: 400;
}
.skill-skill{
 display: flex;
 gap: 24px;
 

}
.skill-box{
  border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
}
.skill-box-header{
  color:  #181818;
text-align: center;
font-size: 20px;
font-weight: 700;
}
.skill-box-paragraph{
  color: #757575;
font-size: 16px;
font-weight: 400;
}


/* education related style */
.education-section{
  margin: 130px 0px;
  text-align: center;
}
.education-mainheader{
  color: #181818;
font-size: 35px;
font-weight: 700;
}
.education-exprience{
 display: flex;
 gap: 71px;
}
.education-title{
 text-align: left;
}
.education-header{
  color: #474747;
font-size: 30px;
font-weight: 700;
}
.education-box{

}
.education-name{
  color: #474747;
font-size: 25px;
font-weight: 700;
}
.education-place{
  color: #757575;
font-size: 20px;
font-weight: 600;

}
.education-descripttion{
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}





/* footer related style */
footer{
  background: #FFF8F3;
  display: flex;
  height: 780px;
  padding: 130px 230px;
  gap: 117px;
}
.footer-descripttion{

}
.footer-descripttion p{
  color:  #474747;
font-size: 16px;
font-weight: 400;
}
.footer-form{
  width: 50%;
 
}
.description-header{
  color: #181818;
font-size: 35px;
font-weight: 700;
}
.footer-form input {
  border-radius: 5px;
background:  #FFF;
display: block;
margin-top: 24px;
padding: 18px 350px 18px 30px;
font-size: 16px;
}
.textarea-p{
  border-radius: 5px;
  background:  #FFF;
  display: block;
  margin-top: 25px;
  /* width: 50%; */
  height: 160px;
  padding: 20px 360px 130px 30px;
  color: #757575;
font-size: 16px;
font-weight: 400;
}
#b{
  margin-top: 24px;
}


.hide{
  display: none;
}


/* responsive related style */
/* mobaile device */
@media screen and (max-width:576px) {
  
  .skill-skill , .education-exprience , .about-description {
    flex-direction: column;
  }
  footer{
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .textarea-p , .footer-form input{
    padding: 10px;
  }
  .about {
    margin: 10px;
    padding: 20px;
  }
}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
  .skill-skill , .education-exprience {
    flex-direction: column;
  }
  footer{
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .textarea-p , .footer-form input{
    padding: 10px;
  }
}